<div class='transition'>
  
  <div class="header">
    <%= render partial: 'shared/header' %>
  </div>
  
  <div
    class='main-background' 
    style="background-image: url(<%= background_img_url %>);">
    
    <div class='greeting'>
      <div class='time-string'></div>
      <div class='greet-string'></div>
    </div>
    
    <!-- <video
      loop="loop"
      preload="auto"
      id="pretzel-video"
      class="tc-videoHost video-playing">

      <source
        src="//a0.muscache.com/airbnb/static/Seoul-P1-4.webm"
        type="video/webm">

    </video> -->
    
    <div id="main" class='clearfix'></div>
    
  </div>
</div>

<script>
  $(document).ready(function(){
    AnnotateLife.initialize({
      user: '<%= current_user.email %>'
    });
  });
</script>