<div class='transition'>
  <div class="header">
    <%= render partial: 'shared/header' %>
  </div>
  
  <div 
    class='main-background' 
    style="background-image: url('https://farm9.staticflickr.com/8402/8686957036_a02c9de788_b.jpg');">
    <div id="main" class='clearfix'></div>
  </div>
</div>