<div class='transition'>
  
  <div class="header">
    <%= render partial: 'shared/header' %>
  </div>
  
  <div
    class='main-background' 
    style="background-image: url(<%= session[:background] %>);">
    
    <div class='greeting'>
      <div class='time-string'></div>
      <div class='greet-string'></div>
    </div>
    
    <div id="main" class='clearfix'></div>
    
    <div id='modal-attachment'></div>
  </div>
</div>

<script>
  $(document).ready(function(){
    AnnotateLife.initialize({
      user: '<%= current_user.fname %>'
    });
  });
</script>