<div class="minimal-wrapper">
  <div class="bar-header"></div>
  
  <div class="minimal-brand-frame">
    <div class="branding">
      <h1>Annotate</h1>
        <%= image_tag(("feather-small.gif"), class: "brand-image") %>
      <h2>Sign in</h2>
    </div>
  </div>

  <div class="minimal-login-wrapper">
    <div class="signin">
      <%= render "shared/login", action: session_url, button: "Sign In"%>
    </div>
    
    <div class="content-switch">
      <p>Don't have an account?</p>
      <%= link_to "Create an account", new_user_url %>
    </div>
  </div>
</div>