<!-- <div class="delete-journal"> -->
  <div class="dropdown">
    <span 
      class="journal-card-menu dropdown-toggle glyphicon glyphicon-chevron-down"
      data-toggle="dropdown"></span>
    <ul
      class="dropdown-menu dropdown-menu-right" 
      aria-labelledby="dropdownMenu1">
      <li><a href="#" class='journal-show-link'>show</a></li>
      <li class="divider"></li>
      <li><a href="#" class="dropdown-delete-journal">delete</a></li>

    </ul>
  </div>
<!-- </div> -->
<div class="journal-show-link">
  <h3><%= journal.attributes.title %></h3>
  <p><%= journal.attributes.description %></p>
</div>