<button class='btn btn-primary' id='move-button'>Move!</button>
<button class='btn btn-primary' id='move-back'>Move Back!</button>
<button class='btn btn-primary' id='edit-the-story'>Edit The Story</button>
  
<div class="row journal-show-row">
  <div class="chapters col-xs-4"></div>
  <div class="stories col-xs-4"></div>
  <div class="story-edit col-xs-4"></div>
</div>