<h1 class="journal-show-title">
  <%= journal.escape("title") %>
</h1>

<div class="row journal-show-row">
  <div class="chapters col-xs-4"></div>
  <div class="stories col-xs-4"></div>
  <div class="story-edit col-xs-4"></div>
</div>