<h1 class="journal-show-title"><%= journal.escape("title") %></h1>

<div class="row journal-show-row">
  <div class="new-col col-xs-4">
    <h3 class="col-header">Chapters</h3>
    <div class="chapters"></div>
    <div class='new-journal-container'></div>
  </div>
  <div class="new-col col-xs-4">
    <h3 class="col-header">Stories</h3>
    <div class="stories"></div>
  </div>
  <div class="new-col col-xs-4">
    <h3 class="col-header">Edit</h3>
    <div class="story-edit"></div>
  </div>
</div>