<div class='select-controller'>
  <div class="chapters main-col"></div>
  <div class="stories main-col hidden"></div>
</div>
<div class="story-edit main-col hidden"></div>
<div class='story-show hidden'></div>