<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button 
        type="button" 
        class="navbar-toggle" 
        data-toggle="collapse" data-target="#navbar-brand-centered">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
        <div class="navbar-brand navbar-brand-centered">
          <img src="/assets/feather-small.gif" class='header-brand-image'>
          Annotate
        </div>
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-brand-centered">
      <ul class="nav navbar-nav" id='current-journal-menu-pos'>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" 
             class="dropdown-toggle new-board-header-link"
             data-toggle="dropdown">
               <span class="glyphicon glyphicon-plus"></span>
          </a>
          <ul class="dropdown-menu">
            <li class='dropdown'>
              <a href="#"
                 class="dropwdown-toggle new-journal-header-button">
                 New Journal
              </a>
            </li>
          </ul>
        </li>
        
        <li class='gravatar-img'>
          <%= gravatar_image_tag(current_user.email, alt: 'John') %>
        </li>
        
        <li class="dropdown">
          <a 
            href="#" 
            class="dropdown-toggle" 
            data-toggle="dropdown">
            <%= current_user.fname %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- <li>
              <a href="#"
                 id='change-background-button'>Change Background</a>
            </li>

            <li><a href="#">Update Name</a></li>
            <li class="divider"></li> -->
            <li><%= link_to 'Sign Out', session_url, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<nav>