<a href='javascript:void(0)'>
  <div class='new-chapter-link'>
    <span class="glyphicon glyphicon-plus"></span> Create Chapter
  </div>
</a>

<form id='new-chapter-form' class='hidden'>
  <span class="glyphicon glyphicon-remove-circle close-form"></span>
  <input 
    type='text' 
    name="chapter[title]" 
    id='chapter-title' 
    placeholder="Chapter Title">
  <button 
    type='submit' 
    id='new-chapter-submit' 
    class='btn btn-primary'>Create</button>
</form>