<a href='javascript:void(0)'>
  <div class='new-chapter-link'>
    <span class="glyphicon glyphicon-plus"></span> Create Chapter
  </div>
</a>

<form id='new-chapter-form' class='hidden'>
  <input 
    type='text' 
    name="chapter[title]" 
    id='chapter-title' 
    placeholder="Chapter Title">
</form>