<div class='chapter-place-card' data-id='<%= chapter.id %>'>
  
  <div class='chapter-place-card-header'>
    <div class="dropdown">
      <span 
        class="chapter-card-menu 
               dropdown-toggle 
               glyphicon glyphicon-chevron-down"
        data-toggle="dropdown"></span>
      <ul
        class="dropdown-menu dropdown-menu-right" 
        aria-labelledby="dropdownMenu1">
        <li><a href="#" class='chapter-show-link'>show</a></li>
        <li class="divider"></li>
        <li><a href="#" class="delete-chapter">delete</a></li>
      </ul>
    </div>
    <span class='chapter-place-card-title'><%= chapter.escape("title") %></span>
  </div>

  <div class="chapter-place-card-body">
    <div class='story-preview-thumbnails'>
      <% if (chapter.attributes.thumbnail_urls) { %>
        <% chapter.attributes.thumbnail_urls.forEach(function (url) { %>
          <div class='story-thumb'
            style='background-image: url(<%= url %>)'></div>
        <% }); %>
      <% } %>
    </div>
  </div>
</div>