<div class='form-divider'>
  <input 
    type='text' 
    name='story[title]' 
    id='story-title' 
    placeholder="Title"
    value="<%= story.get('title') %>">
</div>
<div class='form-textarea'>
  <textarea 
    name='story[text]' 
    id='story-text' 
    placeholder="Tell Your Story..."><%= story.get('text') %></textarea>
</div>

<div class='publish-options'>
  <button class='publish btn btn-primary'>Publish</button>
  <button class='discard btn btn-default'>Discard</button>
  <input
    class='btn btn-default'
    type='filepicker' 
    name='story[img_url]' 
    id='img-url' 
    value='<%= story.get('img_url') %>'>
</div>
