<div class= class='edit-container'>
  <h2 class='col-title'>Tell Your Story</h2>
  <div class='sub-col'>
    <input 
      type='text' 
      name='story[title]' 
      id='story-title' 
      placeholder="Title"></input>
    <textarea 
      name='story[text]' 
      id='story-text' 
      placeholder="Your Story"></textarea>
  </div>
  
  <div class='publish-options'>
    <button class='discard'>Discard</button>
    <button class='publish'>Publish</button>
  </div>
  
</div>
