<% var title = story ? story.get('title') : '' %>
<% var text = story ? story.get('text') : '' %>

<div class='form-divider'>
  <input 
    type='text' 
    name='story[title]' 
    id='story-title' 
    placeholder="Title"
    value="<%= title %>">
</div>
<div class='form-textarea'>
  <textarea 
    name='story[text]' 
    id='story-text' 
    placeholder="Tell Your Story..."><%= text %></textarea>
</div>

<div class='publish-options'>
  <button class='publish btn btn-primary'>Publish</button>  
  <button class='discard'>Discard</button>
</div>
