<form class='story-edit-form'>
  <div class="form-group">
    <label for='story-title'>Title</label>
    <input type='text' name='story[title]' id='story-title'></input>
  </div>
  
  <div class='form-group'>
    <label for='story-text'>Your Story</label>
    <textarea name='story[text]' id='story-text'></textarea>
  </dvi>
</form>

<button class='btn btn-default story-btn discard-story'>Discard</button>
<button class='btn btn-primary story-btn save-story'>Save</button>