<div class= class='edit-container'>
  <div class='sub-col'>
    <div class='form-divider'>
      <input 
        type='text' 
        name='story[title]' 
        id='story-title' 
        placeholder="Title"></input>
    </div>
    <textarea 
      name='story[text]' 
      id='story-text' 
      placeholder="Tell Your Story..."></textarea>
  </div>
  
  <div class='publish-options'>
    <button class='discard'>Discard</button>
    <button class='publish'>Publish</button>
  </div>
  
</div>
