<!-- Modal -->
<div 
  class="modal fade" 
  id="story-image-url"
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="story-image-url" 
  aria-hidden="true">
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button 
          type="button" 
          class="close" 
          data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add an Image from</h4>
      </div>
      
      <div class="modal-body">
        <div class='options-wrapper clearfix'>
          <div class='url-upload upload-options'>
            <img src='/assets/world.png' class='upload-thumb'>
            <span class='upload-text'>The web</span>
          </div>
          
          <div class='filepicker-upload upload-options'>
            <img src='/assets/upload.png' class='upload-thumb'>
            <span class='upload-text'>Your computer</span>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->