<!-- Modal -->
<div 
  class="modal fade" 
  id="story-image-options"
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="storyImageOptions" 
  aria-hidden="true">
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button 
          type="button" 
          class="close" 
          data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add an image from a URL</h4>
      </div>
      
      <div class="modal-body">
        <input 
          type='text' 
          class='story-image-url' 
          id='modal-img-url'
          placeholder="http://..."></input>
      </div>
      
      <div class="modal-footer">
        
        <button 
          type="button" 
          class="btn btn-default" 
          data-dismiss="modal">Cancel</button>
        <button 
          type="button" 
          class="btn btn-primary"
          data-dismiss='modal'
          id='save-url'>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
