<div class='sub-col-header'>
  <h2>Stories</h2>
</div>

<div class='stories-list sub-col-list'></div>
<a href='javascript:void(0)' id='new-story'>
  <div class='sub-col-footer'>
    <span class="glyphicon glyphicon-plus"></span> Create Story
  </div>
</a>