<div
  class="story-place-card story-card-thumbnail"
  data-id='<%= story.id %>'
  style="background-image: url(<%= story.escape('img_url') %>)">
  
  <div class='story-place-card-header'>
    <div class="dropdown story-card-menu">
      <span 
        class="story-card-menu dropdown-toggle glyphicon glyphicon-chevron-down"
        data-toggle="dropdown"></span>
      <ul
        class="dropdown-menu dropdown-menu-right" 
        aria-labelledby="dropdownMenu1">
        <li><a href="#" class='show-story'>show</a></li>
        <li><a href="#" class='edit-story'>edit</a></li>        
        <li class="divider"></li>
        <li><a href="#" class="delete-story">delete</a></li>

      </ul>
    </div>
    <div class='story-show-header-handler'>
      <div class='story-link'>
        <span class='story-place-card-title'><%= story.escape('title') %></span>
      </div>
    
      <div class='story-timestamp'>
        <abbr class='timeago' title='<%= story.escape('created_at') %>'></abbr>
      </div>
      
      <div class='story-show-body-handler'></div>
    </div>
  <div>
</div>