<a href="#" id='exit-story-mode-link'>
  <div class='exit-story-mode'>
    <span class='glyphicon glyphicon-arrow-left'></span> Back
  </div>
</a>

<div class='story-show-title'>
  <%= story.escape('title') %>
</div>

<div class='story-body'>
  <div class='story-image-col'>
    <div 
      class='story-img' 
      style='background-image: url(<%= story.get('img_url') %>)'>
    </div>
  </div>
  
  <div class='story-text-col'>
    <div class='story-text-wrapper'>
      <p class='story-text'><%= story.escape('text') %></p>
    </div>
  </div>
</div>