<div class='exit-story-mode'>
  <a href='javascript.void(0)'>
    <span class='glyphicon glyphicon-arrow-left'></span> Back
  </a>
</div>

<div class='story-show-title'>
  <%= story.escape('title') %>
</div>

<div class='story-body'>
  <div class='story-image-col'>
    <div 
      class='story-img' 
      style='background-image: url(<%= story.get('img_url') %>)'>
    </div>
  </div>
  
  <div class='story-text-col'>
    <div class='story-text'>
      <%= story.escape('text') %>
    </div>
  </div>
</div>